<section class="my-24">
  <div class="flex">
    <img class="rounded-full max-h-64" src="https://avatars.githubusercontent.com/u/24900688?v=4"/>
    <div class="flex flex-col ml-24">
      <h1 class="mb-10 text-3xl">Ian González</h1>
      <p>Hey! My name is Ian. I am a Software Engineer based in Mexico City 🇲🇽. Currently I work at <a class="text-cyan-700" href="https://blockfi.com/">BlockFi</a> as a Staff Software Engineer. I love using Elixir to code and I am a fan of functional programming ❤️. I'm also the proud dad of Quesadilla and Iggy.</p>
    </div>
  </div>
  <div class="flex flex-col mt-24 items-center">
    <p>🚧 🚧 This site remains under construction 🚧 🚧</p>
    <p>🤖🐕🤓🤖🐕🤓🤖🐕🤓🤖🐕🤓</p>
  </div>
</section>
