<section class="container bg-red-100">
  <div class="my-24">
    <div class="flex">
      <div class="relative">
        <img class="rounded-full" style="width: 44rem;" src="https://avatars.githubusercontent.com/u/24900688?v=4" alt="Profile shot picture of Ian Gonzalez"/>
        <div
          class="absolute w-12 h-12 flex justify-center cursor-pointer bg-gray-800 bottom-2 right-4 rounded-full border border-2 border-gray-200"
        >
          <p class="p-2 text-2xl" phx-click={
            Phoenix.LiveView.JS.toggle(
              to: "#eyes",
              in: "fade-in",
              out: "fade-out",
              display: "flex"
            )}
          >👀</p>
        </div>
        <div
          id="eyes"
          class="absolute flex"
          style="top: 108px; left: 110px;"
          phx-hook="GooglyEyes"
        >
          <div class="eye relative bg-white rounded-full w-8 h-8 flex">
            <div class="absolute bottom-2 bg-black rounded-full w-4 h-4"></div>
          </div>
          <div class="eye ml-1 relative bg-white rounded-full w-8 h-8 flex">
            <div class="absolute bottom-2 bg-black rounded-full w-4 h-4"></div>
          </div>
        </div>
      </div>
      <div class="flex flex-col ml-24">
        <h1 class="mb-10 text-3xl">Ian González</h1>
        <p>Hey! My name is Ian. I am a Software Engineer based in Mexico City 🇲🇽. Currently I work at <a class="text-cyan-700" href="https://blockfi.com/">BlockFi</a> as a Staff Software Engineer. I love using Elixir to code and I am a fan of functional programming ❤️.</p>
        <br>
        <p>If you'd like to talk with me for hours on end, you just need to mention anything about literature or contemporary architecture. I'm also the proud dad of Quesadilla and Iggy.</p>
      </div>
    </div>
    <div class="mt-16 flex place-content-evenly">
      <a
        class="text-red-400 py-1 px-4 border border-2 border-red-400 rounded-full cursor-pointer"
        href="/work"
      >WORK</a>
      <a
        class="text-red-400 py-1 px-4 border border-2 border-red-400 rounded-full cursor-pointer"
        href="https://github.com/Ian-GL"
      >GITHUB</a>
      <a
        class="text-red-400 py-1 px-4 border border-2 border-red-400 rounded-full cursor-pointer"
        href="https://www.linkedin.com/in/ian-gl/"
      >LINKED IN</a>
    </div>
    <div class="flex flex-col mt-24 items-center">
      <p>🚧 🚧 This site remains under construction 🚧 🚧</p>
      <p>🤖🐕🤓🤖🐕🤓🤖🐕🤓🤖🐕🤓</p>
    </div>
  </div>
</section>
