<section>
  <div class="container">
    <div class="flex flex-col items-center pt-8 text-xl">
      <h1>WORK</h1>
      <p class="text-base mt-6 max-w-prose">I've got 5 years of experience as a Software Engineer. Most of that time I have been designing and building backend services using Elixir. As for my front end experience, I have used React and React Native both with JavaScript and TypeScript. </p>
    </div>
  </div>
  <div class="h-64 text-white mt-12" style="background-color: rgb(0, 50, 235)">
    <div class="h-64 container flex flex-row space-x-8 pt-6">
      <div class="bg-white h-32 rounded-full flex items-center justify-center" style="width: 128px; min-width: 128px;">
        <img class="w-20" src="https://quesadilladevpublic.s3.us-east-2.amazonaws.com/200604_BlockFi_Logo_Diamond_New.png" />
      </div>
      <div class="flex-col">
        <h2 class="text-lg">BlockFi</h2>
        <h3 class="text-xs">2020 - Present</h3>
        <h3 class="text-md">Staff Software Engineer</h3>
        <p class="mt-4 text-sm max-w-prose">At BlockFi I currently lead the Onboarding backend team. Focused on designing an implementing an onboarding flow that does KYC and fraud integrations in a user friendly manner.</p>
      </div>
    </div>
  </div>
  <div class="h-64">
    <div class="h-64 container flex flex-row space-x-8 pt-6">
      <div class="h-32 rounded-full flex items-center justify-center" style="width: 128px; min-width: 128px; background-color: #590C40">
        <img class="w-24" src="https://quesadilladevpublic.s3.us-east-2.amazonaws.com/isa.webp" />
      </div>
      <div class="flex-col">
        <h2 class="text-lg">icanmakeitbetter</h2>
        <h3 class="text-xs">2019 - 2020</h3>
        <h3 class="text-md">Software Engineer</h3>
        <p class="mt-4 text-sm w-3/4">Contributed to the develop of an online focus group platform. Made with Phoenix LiveView.</p>
      </div>
    </div>
  </div>
  <div class="h-64 text-white" style="background-color: #2e8e4b">
    <div class="h-64 container flex flex-row space-x-8 pt-6">
      <div class="bg-white h-32 rounded-full flex items-center justify-center" style="width: 128px; min-width: 128px;">
        <img class="h-20" src="https://quesadilladevpublic.s3.us-east-2.amazonaws.com/grio.svg" />
      </div>
      <div class="flex-col">
        <h2 class="text-lg">Grio</h2>
        <h3 class="text-xs">2018 - 2019</h3>
        <h3 class="text-md">Software Engineer</h3>
        <p class="mt-4 text-sm w-3/4">Made the server and app side of an IoT application that allows users to measure the chemestry of a pool or spa.</p>
      </div>
    </div>
  </div>
  <div class="h-64">
    <div class="h-64 container flex flex-row space-x-8 pt-6">
      <div class="h-32 rounded-full flex items-center justify-center" style="width: 128px; min-width: 128px; background-color: #000A47">
        <img src="https://quesadilladevpublic.s3.us-east-2.amazonaws.com/intelimetrica.svg" />
      </div>
      <div class="flex-col">
        <h2 class="text-lg">Intelimétrica</h2>
        <h3 class="text-xs">2017 - 2018</h3>
        <h3 class="text-md">Fullstack web developer</h3>
        <p class="mt-4 text-sm w-3/4">Worked on the frontend and backend of an application to predict house prices. Interated payment services via PayPal.</p>
      </div>
    </div>
  </div>
</section>