<section>
  <div class="container">
    <div class="flex flex-col items-center pt-8 text-xl px-8 md:px-0">
      <h1>WORK</h1>
      <p class="text-base mt-6 max-w-prose">I've got 5 years of experience as a Software Engineer. Most of that time I have been designing and building backend services using Elixir. As for my front end experience, I have used React and React Native both with JavaScript and TypeScript. </p>
    </div>
  </div>
  <div class="md:h-64 text-white mt-12" style="background-color: rgb(0, 20, 74)">
    <div class="md:h-64 container flex flex-col md:flex-row items-center md:space-x-8 pt-6 pb-6 md:px-0">
      <div class="bg-white h-16 w-16 md:w-32 md:h-32 rounded-full flex items-center justify-center mb-4 md:mb-0">
        <img class="w-12 md:w-20" src="https://quesadilladevpublic.s3.us-east-2.amazonaws.com/200604_BlockFi_Logo_Diamond_New.png" />
      </div>
      <div class="flex-col px-6 md:px-0">
        <h2 class="text-2xl font-semibold">BlockFi</h2>
        <h3 class="text-xs font-light">2020 - Present</h3>
        <h3 class="text-md font-medium">Staff Software Engineer</h3>
        <p class="mt-4 text-sm max-w-prose">At BlockFi I currently lead the Onboarding backend team. Focused on designing an implementing an onboarding flow that does KYC and fraud integrations in a user friendly manner.</p>
      </div>
    </div>
  </div>
  <div class="md:h-64">
    <div class="md:h-64 container flex flex-col md:flex-row items-center md:space-x-8 pt-6 pb-6 md:px-0">
      <div class="bg-white h-16 w-16 md:w-32 md:h-32 rounded-full flex items-center justify-center mb-4 md:mb-0" style="background-color: #590C40">
        <img class="w-12 md:w-20" src="https://quesadilladevpublic.s3.us-east-2.amazonaws.com/isa.webp" />
      </div>
      <div class="flex-col px-6 md:px-0">
        <h2 class="text-2xl font-semibold">icanmakeitbetter</h2>
        <h3 class="text-xs font-light">2019 - 2020</h3>
        <h3 class="text-md font-medium">Software Engineer</h3>
        <p class="mt-4 text-sm max-w-prose">Contributed to the development of an online focus group platform. Made with Phoenix LiveView.</p>
      </div>
    </div>
  </div>
  <div class="md:h-64 text-white bg-emerald-900">
    <div class="md:h-64 container flex flex-col md:flex-row items-center md:space-x-8 pt-6 pb-6 md:px-0">
      <div class="bg-white h-16 w-16 md:w-32 md:h-32 rounded-full flex items-center justify-center mb-4 md:mb-0">
        <img class="w-12 md:w-20" src="https://quesadilladevpublic.s3.us-east-2.amazonaws.com/grio.svg" />
      </div>
      <div class="flex-col px-6 md:px-0">
        <h2 class="text-2xl font-semibold">Grio</h2>
        <h3 class="text-xs font-light">2018 - 2019</h3>
        <h3 class="text-md font-medium">Software Engineer</h3>
        <p class="mt-4 text-sm max-w-prose">Made the server and app side of an IoT application that allows users to measure the chemestry of a pool or spa.</p>
      </div>
    </div>
  </div>
  <div class="md:h-64">
    <div class="md:h-64 container flex flex-col md:flex-row items-center md:space-x-8 pt-6 pb-6 md:px-0">
      <div class="bg-white h-16 w-16 md:w-32 md:h-32 rounded-full flex items-center justify-center mb-4 md:mb-0" style="background-color: #000A47">
        <img class="w-12 md:w-20" src="https://quesadilladevpublic.s3.us-east-2.amazonaws.com/intelimetrica.svg" />
      </div>
      <div class="flex-col px-6 md:px-0">
        <h2 class="text-2xl font-semibold">Intelimétrica</h2>
        <h3 class="text-xs font-light">2017 - 2018</h3>
        <h3 class="text-md font-medium">Fullstack web developer</h3>
        <p class="mt-4 text-sm max-w-prose">Worked on the frontend and backend of an application to predict house prices. Interated payment services via PayPal.</p>
      </div>
    </div>
  </div>
</section>